ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
pymongo
from_root
dill
certifi
PyYAML
boto3
mypy-boto3-s3
botocore
fastapi
python-multipart
uvicorn
jinja2
imblearn
# -e .

# mongodb 
# username: Kaulik2004
# password: puchku

# connection string : mongodb+srv://Kaulik2004:<db_password>@cluster0.mtfrp0w.mongodb.net/?appName=Cluster0